* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: #0f1b4c;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.8;
}

/* ======== Header ======== */
.fixed-header {
    background-color: #e6f0ff;
    position: sticky;
    z-index: 1;
    padding-top: 26px;
    top: -26px;
}

.logo {
    margin-right: 50px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.content .sign {
    margin-left: auto;
}
.navbar .navigation {
    display: flex;
}
.navbar .navigation a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}
.navbar .navigation a:hover {
    text-decoration: underline;
}
.sign .sign-in {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-right: 18px;
}
.sign .sign-in:hover {
    color: red;
}
.sign .btn-sign {
    padding: 13px 16px;
    border-radius: 8px;
}
/* =======Hero======= */
.hero-wrap {
    background: #e6f0ff;
    height: calc(100vh - 90px);
    justify-content: center;
    position: relative;
    /* loại bỏ margin collapse */
    display: flex;
    flex-direction: column;
}
.hero .info {
    width: 51%;
}
.hero .sub-tittle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
    margin-top: 8px;
}
.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
    margin-top: 30px;
}
.hero .hero-btn {
    min-width: 170px;
    margin-top: 40px;
}
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
/* ======== Client ======== */
.client {
    margin-top: 79px;
    padding: 43px 0 64px;
}
.client .row {
    display: flex;
    justify-content: space-between;
}
.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}
.client .desc {
    margin-top: 23px;
}

.client .img-client {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.client .img-client a {
    display: flex;
    height: 90px;
    background-color: #fff;
    align-items: center;
    padding: 0 42px;
    border-radius: 12px;
}
.client .img-client a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.client .client-3 {
    margin-top: 5px;
}
/* ======== Guides======== */
.guides .content {
    margin-top: 40px;
    text-align: center;
    padding: 93px 0 79px;
}
.guides .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
    position: relative;
}
.guides .desc {
    display: inline-block;
    width: 459px;
    max-width: 100%;
    height: 60px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    margin-top: 20px;
}
.guides .sub-title::before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.guides-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}
.guides-item {
    margin: 0 70px;
    text-align: center;
}
.list-guides span {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #0689ff;
}

.guides-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}
.guides-item .vector {
    margin-left: 6px;
}
.guides-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides-btn .btn {
    min-width: 170px;
}

/* ======== Featured======== */
.featured {
    background: #f5fafe;
    margin-top: 41px;
    padding: 110px 0;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.featured .row .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
.featured span {
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}
.featured .row .link {
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0689ff;
}
.featured .row .vector {
    margin-left: 8px;
}
.list-featured {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.featured .list-featured .item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
}
.featured .list-featured .thumb {
    width: 100%;
    width: 350px;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured .list-featured .body {
    margin: 17px 20px 22px;
}
.featured .list-featured .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}
.featured .list-featured .desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    margin-top: 11px;
}
.featured .list-featured .info {
    display: flex;
    align-items: center;
    margin-top: 22px;
}
.list-featured .icon {
    margin-left: 22px;
}
.list-featured .icon:first-child {
    margin-left: 0px;
}
.list-featured .label {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
    margin-left: 8px;
}
/* ======== Stats======== */
.stats {
    padding: 50px 0;
    margin-top: 75px;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block .img-stats {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .info .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    width: 269px;
    height: 142px;
    position: relative;
}
.stats .info .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    margin-top: 20px;
    width: 309px;
    height: 150px;
}
.stats .info .sub-title::before {
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: -10px;
}
.stats .img-block {
    position: relative;
}
.stats .stats-trend .row {
    display: flex;
    align-items: center;
}
.stats .stats-trend .row .num {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}
.stats .stats-trend .desc {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
    margin-top: 8px;
}
.stats .stats-trend .incr {
    margin-left: auto;
}
.stats .stats-trend {
    width: 239px;
    background: #ffffff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 45px 22px 40px;
}
.stats .stats-trend .line {
    height: 1px;
    background: #e9e9e9;
    margin-top: 25px;
}
.stats .stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}
.stats .stats-trend .avatar-group {
    display: flex;
}
.stats .stats-trend .avatar-group .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color, #fff);
}
.stats .stats-trend .avatar-group .avatar:first-child {
    margin-left: 0px;
}

.stats .stats-trend .avatar-group .avatar span {
    font-weight: 450;
    font-size: 0.7rem;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.stats .row-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}
.stats .row-1 .data-number {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}
.stats .row-1 .data-desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
    margin-top: 22px;
}

/* ======== Subscription ======== */
.subscription {
    margin-top: 90px;
}
.subscription .body {
    display: flex;
    height: 370px;
    background: #063183;
    border-radius: 20px;
    align-items: center;
    position: relative;
}
.subscription .body .infor-sub {
    padding: 0 80px;
    width: 680px;
}
.subscription .infor-sub .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.3;
    color: #ffffff;
}
.subscription .infor-sub .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #ffffff;
    opacity: 0.75;
    margin-top: 15px;
}
.subscription .infor-sub .btn {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
    min-width: 151px;
    height: 50px;
}
.subscription .body .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* ======== Footer ======== */
.footer {
    margin-top: 50px;
}
.footer .row {
    display: flex;
}
.footer .content {
    padding: 50px 0;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .list .item {
    margin-top: 18px;
}
.footer .list .item a,
.footer .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #7a7a7e;
    white-space: nowrap;
}
.footer .column .desc {
    line-height: 1.75;
    white-space: normal;
}
.footer .column .social {
    display: flex;
    margin-top: 40px;
}
.footer .column .social .social-link {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.footer .column .social .social-link:hover {
    background-color: rgba(242, 241, 247, 1);
}
.footer .row-bottom .desc-footer {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
